.thumbnail-card {
  background-color: #e3e5fd;
  margin-bottom: 16px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.thumbnail-card:hover {
  opacity: 0.7;
  transition: opacity 0.25s ease;
}

.container-title {
  display: flex;
}

.date {
  margin-left: auto;
}