.jumbo {
  padding-left: 16%;
  padding-bottom: 4%;
  padding-top: 4%;
  background-color: #E3F2FD;
}

body {
  background-color: #E3F2FD;
}
.h5, h3, h1, p {
  font-family: 'Raleway', sans-serif;
}

.subtitle {
  font-size: 24px;
  margin-bottom: 0px;
}

h1 {
  font-size: 60px;
  margin-bottom: 8px;
  margin-top: 8px;
}
